{% extends "layout.html" %}

{% block title %}Pagina non trovata{% endblock %}
{% block body %}
    <div class="text-center">
        <h2>Pagina non trovata</h2>
        <a href="{{ '/' | url }}" class="button">
            Torna alla home page
        </a>
    </div>
{% endblock %}
