{% from "macros.html" import menu_item %}

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>
            {% block title %}Senza titolo{% endblock %} - DUCC-IT
        </title>

        <link rel="shortcut icon" href="{{ '/static/images/favicon.png' | asseturl }}">

        <link rel="stylesheet" href="{{ '/static/snowflake.min.css' | asseturl }}">
        <link rel="stylesheet" href="{{ '/static/style.css' | asseturl }}">
        <link rel="stylesheet" href="{{ '/static/fonts/dejavu-sans/include.css' | asseturl }}">

        <link rel="alternate" href="{{ '/news@atom/news' | url }}"
              title="Notizie dalla DUCC-IT" type="application/atom+xml">
    </head>
    <body>
        <header>
            <img src="{{ '/static/images/logo.png' | asseturl }}" alt="DUCC-IT">
            <span>&ldquo;Open communities for a better world&rdquo;</span>
            <nav>
                <div class="wrapper">
                    <ul class="inline-list left">
                        {{ menu_item(this, '/', 'Home page') }}
                        {{ menu_item(this, '/news', 'Notizie') }}
                        {{ menu_item(this, '/2017/programma', 'Programma') }}
                        {{ menu_item(this, '/relatori', 'Relatori') }}
                    </ul>
                    <ul class="inline-list right">
                        {{ menu_item(this, '/2017/location', 'Location') }}
                        {{ menu_item(this, '/2017/dormire', 'Dove dormire') }}
                        {{ menu_item(this, '/2017/vicenza', 'Visitare Vicenza') }}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper">
            {% block body %}{% endblock %}
            <footer class="footer">
                <ul class="inline-list">
                    <li>
                        <a href="{{ '/news@atom/news' | url }}">
                            Feed notizie
                        </a>
                    </li>
                    <li>
                        <a href="{{ '/comunicati' | url }}">
                            Comunicati stampa
                        </a>
                    </li>
                </ul>
                <ul class="inline-list">
                    <li>Organizzazione:</li>
                    <li><a href="{{ '/chat' | url }}">
                        Chat
                    </a></li>
                    <li><a href="http://wiki.ducc.it">
                        Wiki
                    </a></li>
                    <li><a href="https://lists.ducc.it/listinfo/org">
                        Mailing list
                    </a></li>
                </ul>
                <ul class="inline-list">
                    <li>
                        <span class="inline-block">Creative Commons</span>
                        <span class="inline-block">Attribution Share Alike 4.0</span>
                    </li>
                    <li>
                        <a href="https://gitlab.com/ducc-it/website">
                            Codice sorgente
                        </a>
                    </li>
            </footer>
        </div>

        <script src="{{ '/static/script.js' }}"></script>
    </body>
</html>
